* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

/**********
* borders *
***********/
.main-content,
.page-footer {
  border: 1.3rem solid black;
}

.articles {
  border-bottom: 1.3rem solid black;
}

@media only screen and (min-width: 1024px) {
  .articles {
    border-bottom: 0;
    border-right: 1.3rem solid black;
  }
}

/********************
* background colors *
*********************/

.banner {
  background-color: #fed460;
}

.articles {
  background-color: #4e4e6a;
}

.article {
  background-color: #1f6cb0;
}

.pager {
  background-color: #70a3c4;
}

.aside {
  background-color: #f73f52;
}

.aside-element {
  background-color: #feea85;
}

.page-footer {
  background-color: #e6af2e;
}

/*********
* Layout *
**********/

body,
.page-header,
.top-elements,
.social,
.main-content,
.articles,
.aside,
.page-footer {
  display: flex;
  flex-direction: column;
}

.social {
  align-items: center;
  justify-content: center;
}

.top-elements {
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: 100%;
}

@media only screen and (min-width: 768px) {
  .top-elements,
  .articles {
    flex-direction: row;
  }

  .articles {
    flex-wrap: wrap;
    align-items: center;
  }
}

@media only screen and (min-width: 1024px) {
  .main-content {
    flex-direction: row;
  }
}

/*********
* Sizing *
**********/

.page-header {
  flex-basis: 20%;
}

.main-content {
  flex-basis: 70%;
}

.articles {
  flex-basis: 70%;
}

.aside {
  flex-basis: 30%;
}

.page-footer {
  flex-basis: 10%;
}

.banner,
.article,
.pager,
.aside-element,
.footer-element {
  flex-basis: 1.5rem;
}

.logo {
  max-width: min(3rem, 15vw);
}

@media only screen and (min-width: 768px) {
  .menu,
  .social {
    height: 1.5rem;
  }

  .menu {
    flex-basis: 80%;
  }

  .article,
  .pager {
    flex-basis: 45%;
    min-height: 5rem;
    flex-grow: 1;
  }
}

.banner,
.article,
.pager,
.aside-element,
.footer-element {
  flex-grow: 1;
}

/**********
* Spacing *
***********/

.top-elements,
.articles,
.aside {
  padding: 1rem;
}

.banner,
.article,
.pager,
.aside-element {
  margin: 0.5rem;
}

.top-elements {
  row-gap: 2rem;
  column-gap: 4vw
}

.main-content {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.menu {
  column-gap: 1rem;
  row-gap: 1rem;
}

.menu__item--icon {
  padding-right: 0.5vw;
}

.menu__item {
  margin-right: 1.5vw;
}

.social {
  row-gap: 1.5vw;
}

/*
* Page Styles
*/

.page-header {
  background-image: url(images/cabecera.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bottom-elements {
  background-color: rgba(202, 202, 202, 0.3);
  height: 5rem;
  opacity: 80%;
  color: #c55a5e;
  font-size: clamp(2rem, 3.5vw, 7vw);
  font-family: "Caveat", cursive, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu__item {
  text-decoration: none;
  color: hsl(0, 0%, 26%);
  padding: 0.5em;
}

.menu__item:hover {
  background-color: hsl(0, 0%, 21%);
}

.menu__item:hover,
.menu__item:hover {
  color: hsl(0, 0%, 99%);
}

.menu__item--icon,
.social {
  color: hsl(0, 0%, 46%);
}

@media only screen and (max-width: 768px) {

  .top-elements {
    padding: 0;
  }

  .menu {
    background-color: rgb(0, 0, 0, 0.7);
    width: 100%;
    padding: 2vw;
  }
  
  .menu__item--icon,
  .social {
    font-size: max(1rem, 4vw);
    color: rgba(255, 255, 255, 0.7);
  }

  .menu__item--text {
    display: none;
  }
}
