* {
  box-sizing: border-box;
}

/*******************
* Button Component *
********************/
.btn {
  padding: 0.3em 0.8em;
  outline: none;
  cursor: pointer;

  border: 0.313em solid transparent;
  border-radius: 0 0 0.313em 0.313em;

  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;

  background-color: hsl(354, 96%, 25%);
  color: white;
}

/*****************
* Card Component *
******************/
.card {
  display: grid;
  color: rgb(70, 69, 69);
  font-family: sans-serif;

  border: 1px solid hsl(35, 29%, 63%);
  border-radius: 0.313em;

  padding: 0;
  margin: 0;
  margin-bottom: 0.5em;

  width: 100%;
}

.card__body {
  padding: 0 1em;
  border: 1px solid hsl(35, 29%, 63%);
  background-color: #fff0da;
}

@media only screen and (min-width: 768px) {
  .card {
    margin-bottom: 0;
  }

  .card:last-of-type {
    grid-column: span 2;
  }
}

/******************* 
* Figure Component *
********************/
.figure {
  margin: 0;
  padding: 0;
  position: relative;
  
  display: flex;
  
  /* altura máxima aproximada de las imágenes: 440px */
  height: calc(200px + 20vw);
}

.figure__image {
  display: block;
   flex-grow: 1;
   max-width: 100%;

  /*
    Podría haber hecho lo mismo si hubiera puesto
    las imágenes como fondo???
  */

  object-fit: cover;
  object-position: center center;
}

.figure__caption {
  position: absolute;
  bottom: 0;
  color: white;
  background-color: rgba(51, 16, 16, 0.6);
  font-weight: 600;
  letter-spacing: 1px;
  width: 100%;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/********************
* Caption Component *
*********************/
.caption__date {
  margin: 0;
  font-size: 1em;
  padding-top: 0.3em;
}

.caption__topic {
  margin: 0;
  font-size: 1.2em;
  padding-top: 0.3em;
}

/*****************
* Menu Component *
******************/
.menu {
  --font-size: clamp(1.2em, 1.3vw, 1.8em);

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 1em;

  background-color: rgb(0, 0, 0, 0.7);
  padding: 2vw;
}

.menu__item {
  margin-right: 1.5vw;
  text-decoration: none;
  padding: 0.5em;
  color: rgb(214, 206, 206);
}

.menu__item:hover {
  color: rgb(238, 194, 195);
}

.menu__item--icon {
  padding-right: 0.5vw;
  font-size: var(--font-size);
}

.menu__item--text {
  display: none;
}

@media only screen and (min-width: 768px) {
  .menu {
    justify-content: start;
    background-color: transparent;
    padding: 0;
  }

  .menu__item {
    color: rgba(99, 53, 55, 0.8);
  }

  .menu__item:hover {
    background-color: hsl(0, 0%, 21%);
  }

  .menu__item--text {
    display: inline;
    font-size: var(--font-size);
  }

  .logo,
  .social {
    margin-right: 5em;
  }
}

/*********
* Social *
**********/
.social {
  display: none;
}

@media only screen and (min-width: 768px) {
  .social {
    display: grid;
    place-items: center;
    row-gap: 1.5vw;
    margin-left: 1em;
  }

  .social__item {
    margin-right: 0;
    padding-right: 0;
  }

  .social__item--icon {
    padding-right: 0;
    color: rgba(99, 53, 55, 0.8);
    font-size: clamp(1.2em, 1vw, 1.8em);
  }

  .social__item--icon:hover {
    color: hsl(0, 0%, 21%);
  }
}

/******************
* Pager Component *
*******************/

.pager {
  font-family: sans-serif;
  font-weight: 600;

  background-color: hsl(354, 96%, 25%);
  padding: 0.8em 0;
  border-radius: 2px;
}

@media only screen and (min-width: 768px) {
  .pager {
    grid-column: span 2;
  }
}

.pager__link {
  color: rgb(240, 240, 240);
  text-decoration: none;
  margin: 0 1em;
}

/**************
* Page Styles *
***************/
body {
  display: grid;
  margin: 0;
  height: 100vh;
}

.page-header {
  background-image: url(images/cabecera.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top-elements {
  display: grid;
  place-items: center;

  margin: 1em 0;
  gap: 2em;
}

.bottom-elements {
  background-color: rgba(202, 202, 202, 0.5);
  height: 5rem;
  color: rgba(206, 64, 68, 0.8);
  font-size: clamp(2rem, 3.5vw, 7vw);
  font-family: "Caveat", cursive, sans-serif;

  display: grid;
  place-items: center;
}

.logo {
  max-width: clamp(5rem, 5vw, 10rem);
}

.main-content {
  display: grid;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 1024px) {
  .main-content {
    grid-template-columns: 70% 30%;
    margin-bottom: 0;
  }
}

.articles {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

@media only screen and (min-width: 768px) {
  .top-elements {
    grid-template-columns: repeat(3, auto);
    margin: 1em;
  }

  .articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
  }
}

.aside {
  display: grid;
  --gap: 0.5em;
  gap: var(--gap);
  padding: var(--gap);

  background-color: #f73f52;
}

.aside-element {
  margin: 0.5rem;
  min-height: 1.5rem;
  background-color: #feea85;
}

.page-footer {
  font-family: sans-serif;
  font-weight: 700;
  font-size: clamp(0.8em, 1vw, 1.3em);
  letter-spacing: 1px;
  text-align: center;

  padding: 0 1em;

  background-color: #360303;
  color: white;
}
